.body{
  position: relative;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--white-color);
  display: block;
  text-align: center;
}

.about-color{
  position: absolute;
  top: 0;
  left: 0;
  border-top: 80vh solid var(--red-color);
  border-right: 85vw solid transparent;
}

.title{
  position: absolute;
  top: 15%;
  width: 50%;
  border-bottom: 1px solid var(--white-color);
}

.title h2{
  color: var(--white-color);
  font-size: 25px;
  font-weight: lighter;
  margin: 5px;
  text-align: end;
  padding-right: 20px;
}

.selfImage{
  position: absolute;
  top: 30%;
  width: 100%;
  
}

.selfImage img{
  width: 200px;
  filter: drop-shadow(10px 10px 0 #b78078);
  border: 2px solid rgb(161, 68, 68);
  border-radius: 125px;
}

.profile{
  position: absolute;
  bottom: 5%;
  padding: 10px;
  margin: 35px;
  z-index: 2;
  
}

.profile p{
  text-align: start;
  font-size: 15px;
  color: var(--gray-color);
  
}

/*=========================================mobileM=========================================*/

@media screen and (min-width: 375px){
  .body{
    position: relative;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--white-color);
    display: block;
    text-align: center;
  }
  
  .about-color{
    position: absolute;
    top: 0;
    left: 0;
    border-top: 70vh solid var(--red-color);
    border-right: 85vw solid transparent;
  }
  
  .title{
    position: absolute;
    top: 15%;
    width: 50%;
    border-bottom: 1px solid var(--white-color);
  }
  
  .title h2{
    color: var(--white-color);
    font-size: 25px;
    font-weight: lighter;
    margin: 5px;
    text-align: end;
    padding-right: 20px;
  }
  
  .selfImage{
    position: absolute;
    top: 25%;
    width: 100%;
  }
  
  .selfImage img{
    width: 250px;
    filter: drop-shadow(10px 10px 0 rgb(161, 68, 68));
  }
  
  .profile{
    position: absolute;
    bottom: 0;
  }
  
  .profile p{
    text-align: start;
    font-size: 15px;
    color: var(--gray-color);
    margin: 20%;
  }
}