
.body{
  position: relative;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--white-color);
  display: block;
  text-align: center;
  overflow: hidden;
}

.work-color{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  background-color: var(--red-color);
}

.title{
  position: absolute;
  top: 15%;
  width: 50%;
  border-bottom: 1px solid var(--white-color);
}
